*{
padding: 0;
margin: 0;
}

header{
height: 45px;
}




header nav ul{
display: flex;
margin-left: 70%;
list-style: none;
}

header nav ul li{
padding-left: 10%;
}

header a{
text-decoration: none;
color: brown;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li{
font-size: 1.5em;
}

body {
    text-align: center;
}

section{
height: 100vh;
border: 1px solid grey;
display: flex;
justify-content: center;
align-items: center;
}




.Container img{
height: 300px;
border-radius: 50%;
}

h1{
font-size:3em
}
h2{
margin-bottom: 1em;
font-size: 3em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
margin-bottom: 5%;
font-size: 1.5rem;
color: red;
}

p1{
margin-bottom: 0%;
font-size: 1.5rem;
font-style: italic;
color: blue;
}

.Container ul{
margin-top: 2%;
font-size: 3rem;

}

.image2{
 border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

footer {
line-height: 40px;
display: flex;
justify-content: center;
font-size: 1rem;
}

#intro {
background-color: white;
}
#about{
background-color: white;
text-align: center;
}
#contact{
background-color: white;
}